:root {
  --background-color: #3a2489;
  --primary-color: #3c963f;
  --secondary-color: #5e49a6;
  --main-text-color: #87819d;
  --minor-text-color: #f2fbf8;
  --bad-color: #ff0000;
  --correct-color: #00ff00;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  background-color: var(--background-color);
}

.App {
  width: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  color: var(--minor-text-color);
  font-size: 1.3rem;
  width: 80%;
  background-color: var(--primary-color);
}
.button--secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--minor-text-color);
}

.button--ok {
  background-color: var(--background-color);
  border: 1px solid var(--minor-text-color);
}

.button--disabled {
  background-color: var(--secondary-color);
  color: var(--minor-text-color);
}

.sign {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign__form {
  background-color: var(--minor-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.sign__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-text-color);
  margin-bottom: 1rem;
}

.sign__title--ok {
  color: var(--background-color);
}

.sign__input__wrapper {
  box-sizing: border-box;
  background-color: var(--minor-text-color);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sign__input__wrapper--outline {
  border: 2px solid var(--secondary-color);
}

.sign__input__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.sign__input__icon--ok {
  color: var(--background-color);
}

.sign__input {
  width: 100%;
  background-color: var(--minor-text-color);
  outline: none;
}

.sign__goTo {
  margin-top: 1rem;
  color: var(--main-text-color);
  font-size: 0.8rem;
}

.test {
  height: 100dvh;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.test__end {
  width: 100%;
  height: 100dvb;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test__score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
}

.test__score {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: 700;
}

.test__scrore-number {
  font-size: 1.2rem;
  font-weight: 600;
}
.test__button {
  border-radius: 1rem;
  padding: 1rem;
  color: black;
  font-size: 1.3rem;
}

.menu {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.question {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0.3rem 0.3rem 0.3rem;
  /* margin-top: 50px; */
  align-items: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  height: 100dvh;
  overflow: hidden;
}

.question__text {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.question__text--correct {
  color: var(--correct-color);
}

.question__text--bad {
  color: var(--bad-color);
}

.question__image-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.8rem 0;
  width: 100%;
}

.question__image {
  border-radius: 10px;
  aspect-ratio: 1;
  width: 60%;
}

.question__tag {
  font-size: 1rem;
  color: var(--main-text-color);
}

.question__tag--tagged {
  color: var(--minor-text-color);
}

.question__answers {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.answer {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.answer__text {
  font-weight: 500;
  font-size: 0.6rem;
}

.answer--selected {
  background-color: #6699cc;
}
.answer--correct {
  background-color: var(--correct-color);
}
.answer--bad {
  background-color: var(--bad-color);
}
