*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
}

.App {
  width: 100%;
  position: relative;
}

.test {
  background-color: #6a0dad;
  height: 100dvb;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
.test__end {
  width: 100%;
  height: 100dvb;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test__score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
}

.test__score {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: 700;
}

.test__scrore-number {
  font-size: 1.2rem;
  font-weight: 600;
}
.test__button {
  border-radius: 1rem;
  padding: 1rem;
  color: black;
  font-size: 1.3rem;
}

.menu {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.question {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0.3rem 0.3rem 0.3rem;
  /* margin-top: 50px; */
  margin-bottom: 0;
  font-size: 0.8rem;
  height: 100%;
  overflow: hidden;
}

.question__text {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.question__image-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.8rem 0;
  width: 100%;
}

.question__image {
  border-radius: 10px;
  aspect-ratio: 1;
  width: 60%;
}

.question__answers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.answer {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.answer__text {
  font-weight: 500;
  font-size: 0.6rem;
}

.answer--selected {
  background-color: #6699cc;
}
.answer--correct {
  background-color: greenyellow;
}
.answer--bad {
  background-color: red;
}
